/.metadata/

/gallery-parrent/.settings/
/gallery-parrent/.project

/gallery-parrent/gallery-bl/.settings/
/gallery-parrent/gallery-bl/target/
/gallery-parrent/gallery-bl/.project
/gallery-parrent/gallery-bl/.classpath

/gallery-parrent/gallery-model/.settings/
/gallery-parrent/gallery-model/target/
/gallery-parrent/gallery-model/.classpath
/gallery-parrent/gallery-model/.project

/gallery-parrent/gallery-ui/.settings/
/gallery-parrent/gallery-ui/target/
/gallery-parrent/gallery-ui/.classpath
/gallery-parrent/gallery-ui/.project

